<div class="container">

    <div class="row text-center">
        <div class="col">
          <h1 class="display-4">Welcome to Our Store</h1>
          <p class="lead">Explore products, manage users, and check your cart</p>
        </div>
    </div>

    <div class="row">
      <!-- Products Card -->
      <div class="col-md-4">
        <div class="card card-custom">
          <img src="../../assets/products.jpg" class="card-img-top img-custom" alt="Products">
          <div class="card-body">
            <h5 class="card-title">Products</h5>
            <p class="card-text">Explore all products in our store.</p>
            <a href="/products" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
      
      <!-- Users Card -->
      <div class="col-md-4">
        <div class="card card-custom">
          <img src="../../assets/users.png" class="card-img-top img-custom" alt="Users">
          <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">Manage users and their details.</p>
            <a href="/users" class="btn btn-success">Manage Users</a>
          </div>
        </div>
      </div>
      
      <!-- Cart Card -->
      <div class="col-md-4">
        <div class="card card-custom">
          <img src="../../assets/cart.jpg" class="card-img-top img-custom" alt="Cart">
          <div class="card-body">
            <h5 class="card-title">Cart</h5>
            <p class="card-text">Review your cart before purchase.</p>
            <a href="/cart" class="btn btn-warning">View Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  